<script type="application/ld+json">
    { "@context": "http://schema.org", 
     "@type": "Blog",
     "keywords": "artificial intelligence, ai, safe, sru, functional programming, fp, ethic machine, ml", 
     "url": "https://racherb.github.io",
     "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://racherb.github.io"
      },
     "author": {
        "@type": "Person",
        "name": "Raciel Hernández Barroso",
        "jobTitle": "Research",
        "sameAs": [
            "https://twitter.com/racherbx",
            "https://github.com/racherb"
        ]
      }
     }
    </script>