{% assign wordcount = include.content | number_of_words %}
{% assign description = include.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip | truncate:110 %}

<script type="application/ld+json">
{  
   "@context":"http://schema.org",
   "@type":"BlogPosting",
   "headline":"{{ include.headline }}",
   "genre":"{{ include.genre }}",
   "keywords":"{{ include.keywords }}",
   "wordCount":"{{ wordcount }}",
   "description": "{{ description }}",
   "url":"https://racherb.github.io{{ include.link }}",
   "datePublished":"{{ include.date | | date: '%Y-%m-%d' }}",
   "dateModified": "{{ page.last-modified | | date: '%Y-%m-%d' }}",
   "author":{  
      "@type":"Person",
      "name":"Raciel Hernández Barroso",
      "sameAs":[
        "https://twitter.com/racherbx",
        "https://github.com/racherb"
      ]
   },
   "publisher":{  
      "@type":"Person",
      "name":"Raciel Hernández Barroso",
      "sameAs":[  
        "https://twitter.com/racherbx",
        "https://github.com/racherb"
      ],
      "logo": {
  		"@type": "ImageObject",
  		"contentUrl": "https://racherb.github.io/img/avatar-icon.png",
  		"url": "https://racherb.github.io"
    }
   },
   "image":{  
      "@type":"ImageObject",
      "contentUrl":"https://racherb.github.io/img/cardboard.png",
      "url":"https://racherb.github.io",
      "height":"450",
      "width":"1000"
   },
   "mainEntityOfPage":{  
      "@type":"WebPage",
      "@id":"https://racherb.github.io{{ include.link }}"
   },
   "articleBody":"{{ include.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
}
</script>